.footer{
    width: 100%;
    padding: 8rem 0;
    position: relative;
    background-color: $color-white;
    border-top: solid 4px $color-black;

    &__logo{
        display: inline-block;
        margin: auto;

        img{
            max-height: 4rem;
            width: auto; 
        }

        &:first-child{
            margin-right: 0;
        }
        &:last-child{
            margin-left: 20px;
        }
    }

    &__endereco{
        display: inline-block;
        width: 100%;
        margin: auto;

        p{
            margin: 0;
            font-size: 1.6rem;
        }
    }

    &__chico{
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    &__social{
        display: flex;
        justify-content: space-around;
        margin: 0 auto 3rem;

        a{
            margin: auto .5rem;
            vertical-align: middle;
            transition: .5s;

            &:last-child{
                margin-right: 0 !important;
            }

            img{
                height: 5rem;
                width: auto;
                opacity: 1;
                transition: .5s;
            } 

            &:hover{
                img{
                    opacity: .7;
                }
            }
        }
    }

    @include media-breakpoint-down(md) { 
        
        &__social{
            margin-top: 2rem;
        }
    }
    @include media-breakpoint-down(sm) { 
        padding: 6rem 0;

        &__endereco{
            margin-bottom: 20px;
            p{
                text-align: center;
            }
        }
    }

    @include media-breakpoint-down(xs) { 

        &__endereco{
            margin-bottom: 20px;
            p{
                text-align: center;
            }
        }

        &__social{
            max-width: 40rem;
        }

    }
}